.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 40vw;
}

.imageBox {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* 사진을 크기에 최적화 시키기 */
  object-fit: cover;
}

.logo {
  width: 60%;
  height: 140px;
  display: flex;
  flex-direction: column;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.id {
  color: black;
  text-align: center;
  font-weight: bold;
}

.button {
  margin-top: 10px;
  background-color: #3797ef;
  width: 80%;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.switch {
  color: #3797ef;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.story {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 40vw;
}

.story {
  width: 80px;
  height: 80px;
  display: flex;
}
